:root {
    /** colors palette **/

    --white: hsl(0, 0%, 100%);
    --bg_main: hsl(218, 28%, 13%);
    --button: linear-gradient(to left, hsl(198, 60%, 50%) , hsl(176, 68%, 64%));
    --cyan: hsl(176, 68%, 64%);

    /* fonts */
    --f_heading: 'Raleway', sans-serif;
    --f_body: 'Open Sans', sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:after, *:before {
    box-sizing: inherit;
}

/** globales **/
body {
    font-size: 1.4rem;
    background-color: var(--bg_main);
    font-family: var(--f_body);
}
a {
    color: var(--white);
    text-decoration: none;
}
h1, h2, h3, p {
    margin: 0;
    padding: 0;
    color: var(--white);
}
h1, h2, h3 {
    font-family: var(--f_heading);
}
h2 {
    font-size: 1.8rem;
}
p {
    font-size: 1.4rem;
}
@media (min-width: 1280px) {
    h2 {
        font-size: 2.2rem;
    }
    p {
        font-size: 1.6rem;
    }
}


/* Utilidades */
.m-0 {
    margin: 0;
}
.p-0 {
    padding: 0;
}

/* navegacion */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 1.5rem;
}
.logo{
    width: 8rem;
}
.nav__pages a {
    font-size: 1.2rem;
    color: var(--white);
    padding-right: 2rem;
    font-family: var(--f_heading);
}
.nav__pages a:last-of-type {
    padding-right: 0;
}
@media (min-width: 1280px) {
    .nav {
        padding: 6rem 10rem;
    }
    .nav__pages a {
        font-size: 1.8rem;
        padding-right: 5rem;
    }
    .logo{
        width: 18rem;
    }
}

/* Contenido Principal */
.info-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
.info-principal__img {
    width: 30rem;
    margin-bottom: 5rem;
}
.info-principal__text {
    text-align: center;
    width: min(84%);
}
.info-principal__text h1 {
    font-size: 2.4rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}
.info-principal__text p {
    font-family: var(--f_heading);
    margin-bottom: 3rem;
    line-height: 1.5;
}
.info-principal__text button {
    background: var(--button);
    padding: 1.5rem 8rem;
    font-family: var(--f_heading);
    font-weight: 500;
    border-radius: 3rem;
    border: none;
    color: var(--white);
}
@media (min-width: 1280px) {
    .info-principal__img {
        width: 70rem;
        margin-bottom: 5rem;
    }
    .info-principal__text {
        width: 100rem;
    }
    .info-principal__text h1 {
        font-size: 5rem;
        margin-bottom: 5rem;
    }
    .info-principal__text p {
        margin: 0 auto;
        width: 68rem;
        font-size: 2.2rem;
        margin-bottom: 4rem;
    }
    .info-principal__text button {
        font-size: 1.6rem;
        padding: 2rem 10rem;
    }
}

/* Cards de Información */
.cards {
    margin: 13rem 0 15rem 0;
}
.card {
    margin: 0 2rem 10rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.5;
}
.card img {
    height: 6.5rem;
    margin-bottom: 3rem;
}
.card h2{
    margin-bottom:1rem;
}
@media (min-width: 1280px) {
    .cards {
        margin: 10rem auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 70%;
        gap: 8rem;
    }
    .card {
        width: 72%;
        margin: 0 auto;

    }
    .card img {
        height: 8rem;
    }
}

/* Secondary Info */
.secundary-info {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.secundary-info__img {
    width: 30rem;
    margin-bottom: 6rem;
}
.secundary-info__text {
    margin: 0 auto;
    width: 90%;
}
.secundary-info__text h2 {
    margin-bottom: 2rem;
}
.secundary-info__text p {
    margin-bottom: 2rem;
}
.secundary-info__link {
    display: inline-block;
}
.secundary-info__text a {
    display: flex;
    align-items: center;
    margin-right: 0.6rem;
    border-bottom: solid 1px var(--cyan);
    padding-bottom: 0.5rem;
    
}
.secundary-info__text a p{
    margin: 0;
    color: var(--cyan);
}
.secundary-info__text a img{
    height: 1.5rem;
}
